

#context_box {
    background-color: white;
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 60%;
    height: 80%;
    border-radius: 10px;
    
    min-width: 730px;
    overflow: auto;
    /* center code */
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
       -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
         -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
  
  
  #lst_table {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: auto;
  }
  